@page "/LogCenter"
@using Microsoft.Extensions.Localization
@using global::Abp.LogCenter.Localization
@inject IStringLocalizer<LogCenterResource> L
@{
}
<h1>LogCenter</h1>
<p>@L["SamplePageMessage"]</p>