@page
@using Microsoft.Extensions.Localization
@using Abp.LogCenter.Localization
@using Abp.LogCenter.Web.Pages.LogCenter
@model Abp.LogCenter.Web.Pages.LogCenter.IndexModel
@inject IStringLocalizer<LogCenterResource> L

@{
}
<h1>LogCenter</h1>
<p>@L["SamplePageMessage"]</p>
